---
  - name: Start Master
    shell: "{{ spark_extract_location }}/sbin/start-master.sh"

  #- name: Configure Slave List
  #  template:
  #    src: slaves
  #    dest: "{{ spark_extract_location }}/conf/slaves"

  #- name: Start Slaves
  #  shell: "{{ spark_extract_location }}/sbin/start-slaves.sh"

  - name: Pause... Give The Master a few Seconds to Wake Up!!!
    pause:
      seconds: 15