---
  - name: Launch Master Server
    local_action:
      module: ec2
      aws_access_key: "{{ aws_key_id }}"
      aws_secret_key: "{{ aws_key_secret }}"
      region: "{{ aws_region }}"
      group_id: "{{ aws_security_group }}"
      image: "{{ aws_image_master }}"
      instance_type: "{{ aws_instance_type}}"
      exact_count: 1
      count_tag:
        Name: spark-master
        Environment: test
        Creator: ansible
      instance_tags: 
        Name: spark-master
        Environment: test
        Creator: ansible
      wait: True

