---
  - name: Launch Master Server
    local_action:
      module: ec2
      aws_access_key: "{{ aws_key_id }}"
      aws_secret_key: "{{ aws_key_secret }}"
      region: "{{ aws_region }}"
      group_id: "{{ aws_security_group }}"
      image: "{{ aws_image_master }}"
      instance_type: "{{ aws_instance_type}}"
      exact_count: 1
      count_tag:
        Name: spark-master
        ClusterName: "{{ spark_cluster_name }}"
        Environment: "{{ environment_type }}"
        Creator: ansible
      instance_tags: 
        Name: spark-master
        ClusterName: "{{ spark_cluster_name }}"
        Environment: "{{ environment_type }}"
        Creator: ansible
      wait: True

  - name: Launch Slave Servers
    local_action:
      module: ec2
      aws_access_key: "{{ aws_key_id }}"
      aws_secret_key: "{{ aws_key_secret }}"
      region: "{{ aws_region }}"
      group_id: "{{ aws_security_group }}"
      image: "{{ aws_image_master }}"
      instance_type: "{{ aws_instance_type}}"
      exact_count: "{{ aws_slave_count }}"
      count_tag:
        Name: spark-slave
        ClusterName: "{{ spark_cluster_name }}"
        Environment: "{{ environment_type }}"
        Creator: ansible
      instance_tags: 
        Name: spark-slave
        ClusterName: "{{ spark_cluster_name }}"
        Environment: "{{ environment_type }}"
        Creator: ansible
      wait: True
